# Object file
*.o

# Ada Library Information
*.ali

# data and outputs
lab1/data/
lab1/output/
lab2/data/
lab2/output/
lab2/OpenKE/

# IDE config
.vscode/

# tmp files
*/tmp/

# test files
*/test/

# log files
lab2/logs

# result files
lab2/submit

# cache dirs
**/__pycache__/

# zip files
**/*.zip

